* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.top-section {
    height: 105px;
    background-color: #039689;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-title {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
}

.lower-section {
    flex-grow: 1;
    background-color: #DDDBD4;
    padding-top: 20px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.main-app {
    border: 1px solid black;
    display: flex;
    min-height: 700px;
}
/* contact section */

.contact-section {
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.user-contact {
    min-height: 50px;
    border: 1px solid black;
}

.contact-notification {
    min-height: 50px;
    border: 1px solid black;
}

.contact-search {
    min-height: 40px;
    border: 1px solid black;
}

.contact-list {
    flex-grow: 1;
    border: 1px solid black;
}
/* chat section */

.chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-chat {
    flex-grow: 1;
    border: 1px solid black;
}

.chat-header {
    border: 1px solid black;
    min-height: 50px;
    background-color: #EBE9EB;
}
/* chat input */
.chat-input {
    border: 1px solid black;
    min-height: 50px;
    background-color: #EBE9EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.input-space {
    flex-grow: 1;
}

.input-space input {
    width: 100%;
    border-radius: 10px;
    line-height: 2.5em;
    padding-left: 10px;
}

.input-smile {
    padding: 10px 20px;
    font-size: 20px;
}

.input-mic {
    padding: 10px 20px;
    font-size: 20px;
}