* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

.top-section {
    height: 105px;
    background-color: #039689;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-title {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
}

.lower-section {
    flex-grow: 1;
    background-color: #DDDBD4;
    padding-top: 20px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.main-app {
    border: 1px solid black;
    display: flex;
    min-height: 800px;
}

img {
    
    border-radius: 100%;
}
/* contact section */

.contact-section {
    min-width: 280px;
    border-right: 1px solid #E6E2E0;
    display: flex;
    flex-direction: column;
}
/* user contact */
.user-contact {
    min-height: 50px;
    
    background-color: #EBE9EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
}

.user-contact img {
    width: 40px;
}

.user-contact .user {
    flex-grow: 1;
}

.user-contact .symbol {
    color: #989798;
}
/* contact notification */
.contact-notification {
    min-height: 50px;
    display: flex;
    background-color: #8EDAFD;
    justify-content: space-around;
    align-items: center;
}

.contact-notification .text {
    font-size: 12px;
}

.contact-notification .symbol {
    background-color: white;
    color: #8EDAFD;
    border-radius: 100%;
    padding: 10px 10px;
}
/* contact search */
.contact-search {
    min-height: 40px;
    padding: 10px 7px;
    background-color: #EBE9EB;
    display: flex;
    gap: 2px;
    align-items: center;
}

.contact-search .input {
   flex-grow: 1;
}

.contact-search input {
    width: 100%;
    line-height: 2em;
    padding-left: 5px;
}

.contact-search .symbol {
    padding: 5px 15px;
    color: #989798;
    border: 1px solid #989798;
}
/* contact list */
.contact-list {
    flex-grow: 1;
    background-color: white;
}

.contact-list li {
    display: flex;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-bottom: 1px solid #989798;
}

.contact-list img {
    width: 50px;
}

.contact-list .text {
    font-size: 12px;
}

.contact-list .hour {
    font-size: 8px;
    align-self: flex-start;
}
/* chat section */

.chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
/* main chat */
.main-chat {
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    background-size: contain;
    padding: 20px 30px;
    overflow: auto;
}

.chat-container {
    max-width: 99%;
    margin: 0 auto;
    display: flex;
}

.received-message {
    border: 1px solid black;
    min-width: 50px;
    padding: 5px 5px;
    flex-basis: calc(100% / 2);
}

.received-message li {
    list-style: none;
    background-color: white;
    line-height: 1.5em;
    font-size: 14px;
    border-radius: 15px;
    padding: 5px 5px;
}

.sent-message {
    min-width: 50px;
    border: 1px solid black;
    padding: 5px 10px;
    flex-basis: calc(100% / 2);
}

.sent-message li {
    list-style: none;
    background-color: #D7F9BC;
    line-height: 1.5em;
    font-size: 14px;
    border-radius: 15px;
    padding: 5px 5px;
}



/* chat header */

.chat-header {
    
    min-height: 50px;
    background-color: #EBE9EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    gap: 10px;
}

.chat-header img {
    width: 40px;
}

.chat-header .profile {
    flex-grow: 1;
}

.chat-header .symbol {
    display: flex;
    gap: 10px;
    color: #989798;
}
/* chat input */
.chat-input {
    
    min-height: 50px;
    background-color: #EBE9EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.input-space {
    flex-grow: 1;
}

.input-space input {
    width: 100%;
    border-radius: 10px;
    line-height: 2.9em;
    padding-left: 10px;
    border: none;
}

.input-smile {
    padding: 10px 20px;
    font-size: 20px;
}

.input-mic {
    padding: 10px 20px;
    font-size: 20px;
}